@model CMS.Application.SmallCartView.ViewModels.SmallCartViewModel


@* @if (Model != null)
{
    <p>محصولات سبد : <span class="badge rounded-pill text-bg-success ">@Model.NumberOfItems</span> </p>
    <p>هزینه سبد :  <b>@Model.TotalAmount.ToString("NO")</b></p>
    <a class="btn btn-primary mb-2">مشاهده سبد</a>
    <a class="btn btn-danger">خالی کردن سبد</a>
}
else
{
    <p class="lead">سبد خری شما خالی میباشد</p>
} *@